<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style=" text-align: center " > <%=content%> </h1>
    <span id="url" style=" display: none " > <%=url%> </span>
    <h3 id="time" >3</h3>
    <script>
        window.onload = function () {
            var time = document.getElementById('time')

            function url () {
                setTimeout( function () {
                    time.innerHTML -= 1
                    if ( time.innerHTML <= 1 ) {
                        window.location.href= document.getElementById('url').innerText
                    } else {
                        url()
                    }
                }, 1000 )
            }

            url()

        }
    </script>
</body>
</html>